<h1 class="page-header">Register</h1>

<div class="row show-hide-message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>


  <!-- Registration Form -->
  <form [formGroup]="form" (submit)="onRegisterSubmit()">


    <!-- Email Input -->
    <div class="form-group">


      <label for="email">Email</label>
      <div [ngClass]="{'has-error': (form.controls.email.errors && form.controls.email.dirty), 'has-success': !form.controls.email.errors}">
        <input type="text" name="email" class="form-control" autocomplete="off" placeholder="*Email" formControlName="email" />
        <!-- Validation -->
        <ul class="help-block">
          <li *ngIf="form.controls.email.errors?.required && form.controls.email.dirty">This field is required</li>
          <li *ngIf="form.controls.email.errors?.validateEmail && form.controls.email.dirty">This must be a valid e-mail</li>
        </ul>
      </div>
    </div>

    <!-- Password Input -->
    <div class="form-group">
      <label for="password">Password</label>
      <div [ngClass]="{'has-error': (form.controls.password.errors && form.controls.password.dirty), 'has-success': !form.controls.password.errors}">
        <input type="password" name="password" class="form-control" autocomplete="off" placeholder="*Password" formControlName="password" />
        <!-- Validation -->
        <ul class="help-block">
          <li *ngIf="form.controls.password.errors?.required && form.controls.password.dirty">This field is required</li>
          <li *ngIf="form.controls.password.errors?.validatePassword && form.controls.password.dirty">Password must be at least 8 characters with uppercase , lowecare and special charecters.</li>
        </ul>
      </div>
    </div>

    <!-- Confirm Password Input -->
    <div class="form-group">
      <label for="confirm">Confirm Password</label>
      <div [ngClass]="{'has-error': (form.controls.confirm.errors && form.controls.confirm.dirty) || (form.errors?.matchingPasswords && form.controls.confirm.dirty), 'has-success': !form.controls.confirm.errors && !form.errors?.matchingPasswords}">
        <input type="password" name="confirm" class="form-control" autocomplete="off" placeholder="*Confirm Password" formControlName="confirm" />
        <!-- Validation -->
        <ul class="help-block">
          <li *ngIf="form.controls.confirm.errors?.required && form.controls.confirm.dirty">This field is required</li>
          <li *ngIf="form.errors?.matchingPasswords && form.controls.confirm.dirty">Password do not match</li>
        </ul>
      </div>
    </div>

    <!-- Submit Input -->
    <input [disabled]="!form.valid" type="submit" class="btn btn-primary" value="Submit" />

  </form>
  <!-- Registration Form /-->
